<style>

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#000,#0a0a1a);
  color:white;
}

/* HEADER */

header{
  padding:18px;
  text-align:center;
  background:#000;
  box-shadow:0 0 15px #9900ff;
}

header h1{
  margin:0;
  color:#9900ff;
  font-size:24px;
}

/* SEARCH */

.search{
  padding:15px;
  text-align:center;
}

.search input{
  width:90%;
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:15px;
  outline:none;
}

/* CATEGORIES */

.categories{
  display:flex;
  overflow-x:auto;
  gap:10px;
  padding:10px;
}

.cat-btn{
  background:#9900ff;
  padding:8px 14px;
  border-radius:8px;
  white-space:nowrap;
  cursor:pointer;
  transition:0.25s;
  font-size:13px;
}

.cat-btn:hover{
  background:#00ff;
  color:black;
}

/* GRID */

.games{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:15px;
  padding:15px;
}

/* CARD */

.card{
  position:relative;
  height:220px; /* hauteur totale de la carte */
  border-radius:14px;
  overflow:hidden;
  transition:0.3s;
  box-shadow:0 0 10px #000;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px #00ff;
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.card-content{
  position:absolute;
  bottom:0;
  width:100%;
  padding:6px;
  box-sizing:border-box;
  background:linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.4));
}
.card h3{
  margin:0 0 5px 0;
  font-size:14px;
  color:00f0ff;
}

.card p{
  font-size:12px;
  margin:0 0 6px 0;
  color:#ddd;
}

/* BUTTONS */

.buttons{
  display:flex;
  gap:5px;
  margin-top:5px;
}

.buttons a{
  flex:1;
  text-align:center;
  padding:6px;
  background:#9900ff;
  color:black;
  text-decoration:none;
  border-radius:6px;
  font-size:12px;
  font-weight:bold;
}

/* FOOTER */

footer{
  text-align:center;
  padding:12px;
  background:#0a0a1a;
  font-size:12px;
}

.download-btn{
width:100%;
margin-top:6px;
padding:8px;
border:none;
border-radius:6px;
background:#9900ff;
color:black;
font-weight:bold;
cursor:pointer;
}
.card{
position:relative;
}

.download-menu{
display:none;
position:absolute;
bottom:60px;
left:10px;
right:10px;

flex-direction:column;
background:#0a0a1a;
border-radius:8px;
overflow:hidden;

box-shadow:0 8px 20px #000;
z-index:10;

animation:pop 0.15s ease;
}

@keyframes pop{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.download-menu a{
padding:8px;
color:white;
text-decoration:none;
font-size:11px;
border-top:1px solid #0a0a1a;
}

.download-menu a:hover{
background:#00ff;
color:black;
}

</style>
